.caixaContentsHome{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.caixaContentsHome h2{
    text-align: center;
}

.caixaContentsHome p{
    text-align: center;
}

.caixaBtns{
    display: flex;
    gap: 20px;
}

.btnLinkHome{
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLinkHome:hover{
    transform: scale(1.03);
}

.btnCad{
    background-color: var(--color1);
    color: #fff;
}

.btnLog{
    background-color: #fff;
    color: var(--color1);
    border: 2px solid var(--color1);
}

@media (max-width: 750px) {

    .caixaContentsHome{
        width: 95%;
    }

    .caixaContentsHome h2{
        font-size: 1.3em;
    }
    
    .caixaContentsHome p{
        font-size: 1em;
    }
    
    .caixaBtns{
        flex-direction: column;
        width: 100%;
    }
    
    .btnLinkHome{
        font-size: 1em;
    }

}

@media (max-width: 400px) {

    .caixaContentsHome h2{
        font-size: 1.2em;
    }
    
    .caixaContentsHome p{
        font-size: .9em;
    }
    
    .caixaBtns{
        flex-direction: column;
        width: 100%;
    }
    
    .btnLinkHome{
        font-size: 1em;
    }

}