:root{
    --color1: #005CAA;
    --color2: #A6A6A6;
    --yellow: #FDC500;
    --green: #03A65A;
    --black: #111111;
    --white: #F2F2F2;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease .4s;
    font-family: Arial, Helvetica, sans-serif;
}